<mat-toolbar>
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span>Web Services Game</span>
</mat-toolbar>

<div class="flex-content">
    <div class="status" *ngIf="getTokenFromStorage()">
        <h2>Votre avancement</h2>
        <div *ngIf="status">
            <p>Candidat : {{status.name}}</p>
            <p>Enquête débuté le {{status.start_time | date:'dd/MM/yyyy HH:mm' }}</p>
            <p *ngIf="status.retreived_tresors?.length">Trésors trouvés : </p>
            <p *ngIf="!status.retreived_tresors?.length">Aucun trésors trouvés</p>
            <p *ngFor="let item of status.retreived_tresors">- {{item}}</p>
        </div>
    </div>
    <div class="main-content">
        <div class="main-content border">
            <ng-container *ngIf="selectedRoute ==='/inscription'">
                <h1>Bienvenue sur Web Services Game</h1>
                <div>
                    <p>{{responseMessage}}</p>
                </div>
                <mat-form-field appearance="outline">
                    <mat-label>Identifiant</mat-label>
                    <input matInput [(ngModel)]="loginModel.username" type="email" placeholder="Ex. pat@example.com">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [(ngModel)]="loginModel.password" type="password" placeholder="Ex. azerty">
                </mat-form-field>
                <button mat-button (click)="register()"
                    *ngIf="etageSelected !== 'Etage 2' && etageSelected !== 'Etage 3'">Inscription</button>
                <button mat-button (click)="register2()" *ngIf="etageSelected === 'Etage 2'">Connexion</button>
                <button mat-button (click)="register2()" *ngIf="etageSelected === 'Etage 3'">Connexion</button>
            </ng-container>

            <ng-container *ngIf="getTokenFromStorage()">
                <div class="flex-header ">
                    <div>
                        <h3 style="margin-bottom: 0;">Choississez un étage à visiter</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>Quel étage souhaitez vous visiter ?</mat-label>
                            <mat-select [(ngModel)]="etageSelected" (ngModelChange)="setRouteListFromFloor()">
                                <mat-option *ngFor="let item of etagesList" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <h3 style="margin-bottom: 0;">Choississez une url à visiter</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>Quel endroit souhaitez vous visiter ?</mat-label>
                            <mat-select [(ngModel)]="selectedRoute">
                                <mat-option *ngFor="let item of routesResponse" [value]="item">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div>
                        <h3 style="margin-bottom: 0;">Entrez une url à visiter</h3>
                        <mat-form-field appearance="outline">
                            <mat-label>Indiquer une url</mat-label>
                            <input matInput [(ngModel)]="secretRoute" (ngModelChange)="validateSecretRoute()"
                                type="text" placeholder="Ex. login">
                        </mat-form-field>
                    </div>
                </div>

                <div class="btn-row" *ngIf="etageSelected==='Etage 1'">
                    <ng-container *ngIf="selectedRoute === '/coffre'">
                        <button mat-button (click)="coffre('post')">POST</button>
                        <button mat-button (click)="coffre('get')">GET</button>
                        <button mat-button (click)="coffre('delete')">DELETE</button>
                        <button mat-button (click)="coffre('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/escalier'">
                        <button mat-button (click)="escalier('post')">POST</button>
                        <button mat-button (click)="escalier('get')">GET</button>
                        <button mat-button (click)="escalier('delete')">DELETE</button>
                        <button mat-button (click)="escalier('options')">OPTIONS</button>

                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/reset'">
                        <button mat-button (click)="resetData('post')">POST</button>
                        <button mat-button (click)="resetData('get')">GET</button>
                        <button mat-button (click)="resetData('delete')">DELETE</button>
                        <button mat-button (click)="resetData('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/1'">
                        <button mat-button (click)="tresor1('post')">POST</button>
                        <button mat-button (click)="tresor1('get')">GET</button>
                        <button mat-button (click)="tresor1('delete')">DELETE</button>
                        <button mat-button (click)="tresor1('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/36'">
                        <button mat-button (click)="tresor2('post')">POST</button>
                        <button mat-button (click)="tresor2('get')">GET</button>
                        <button mat-button (click)="tresor2('delete')">DELETE</button>
                        <button mat-button (click)="tresor2('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/tresor'">
                        <button mat-button (click)="tresor3('post')">POST</button>
                        <button mat-button (click)="tresor3('get')">GET</button>
                        <button mat-button (click)="tresor3('delete')">DELETE</button>
                        <button mat-button (click)="tresor3('options')">OPTIONS</button>
                    </ng-container>
                </div>
                <div class="btn-row" *ngIf="etageSelected==='Etage 2'">
                    <ng-container *ngIf="selectedRoute === '/escalier'">
                        <button mat-button (click)="escalier2('post')">POST</button>
                        <button mat-button (click)="escalier2('get')">GET</button>
                        <button mat-button (click)="escalier2('delete')">DELETE</button>
                        <button mat-button (click)="escalier2('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/reset'">
                        <button mat-button (click)="resetData2('post')">POST</button>
                        <button mat-button (click)="resetData2('get')">GET</button>
                        <button mat-button (click)="resetData2('delete')">DELETE</button>
                        <button mat-button (click)="resetData2('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/vieux'">
                        <button mat-button (click)="vieux('post')">POST</button>
                        <button mat-button (click)="vieux('get')">GET</button>
                        <button mat-button (click)="vieux('delete')">DELETE</button>
                        <button mat-button (click)="vieux('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/note'">
                        <button mat-button (click)="note('post')">POST</button>
                        <button mat-button (click)="note('get')">GET</button>
                        <button mat-button (click)="note('delete')">DELETE</button>
                        <button mat-button (click)="note('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/couloir'">
                        <button mat-button (click)="couloir('post')">POST</button>
                        <button mat-button (click)="couloir('get')">GET</button>
                        <button mat-button (click)="couloir('delete')">DELETE</button>
                        <button mat-button (click)="couloir('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/1'">
                        <button mat-button (click)="couloir1('post')">POST</button>
                        <button mat-button (click)="couloir1('get')">GET</button>
                        <button mat-button (click)="couloir1('delete')">DELETE</button>
                        <button mat-button (click)="couloir1('options')">OPTIONS</button>
                    </ng-container>
                </div>
                <div class="btn-row" *ngIf="etageSelected==='Etage 2'">
                    <ng-container *ngIf="selectedRoute === '/reset'">
                        <button mat-button (click)="resetData3('post')">POST</button>
                        <button mat-button (click)="resetData3('get')">GET</button>
                        <button mat-button (click)="resetData3('delete')">DELETE</button>
                        <button mat-button (click)="resetData3('options')">OPTIONS</button>
                    </ng-container>
                    <ng-container *ngIf="selectedRoute === '/dragon'">
                        <button mat-button (click)="dragon('post')">POST</button>
                        <button mat-button (click)="dragon('get')">GET</button>
                        <button mat-button (click)="killDargon('delete')">DELETE</button>
                        <button mat-button (click)="dragon('options')">OPTIONS</button>
                    </ng-container>
                </div>
                <div *ngIf="showDecryptInput">
                    <mat-form-field appearance="outline">
                        <mat-label>Algorithme de chiffrage</mat-label>
                        <input matInput [(ngModel)]="algoModel.algo" type="text">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput [(ngModel)]="algoModel.password" type="text">
                    </mat-form-field>
                    <button mat-button (click)="validateTresor()">Confirmer</button>
                </div>
            </ng-container>
        </div>
        <div class="main-content border">
            <h3>Résultat de vos requêtes</h3>
            <p [innerHtml]="responseMessage"></p>
            <div *ngIf="show8000btn && selectedRoute === '/escalier'">
                <button mat-button>Utiliser le port 8000</button>
            </div>
            <div *ngIf="show7259btn && selectedRoute === '/escalier'">
                <button mat-button>Utiliser le port 7259</button>
            </div>
        </div>
    </div>
</div>